body{
    font-family: Montserrat;
    min-width: 100px;
    width: 70%;
    max-width: 1000px;
    height: 100%;
    padding: 0px;
    margin: auto;
    background-color: aliceblue;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 15px solid darkgoldenrod;
    margin: 0;
    padding: 0;
}

#left{
    float: left;
    margin-top: 10px;
    font-size: 8px;
    padding-left: 0px;
}

#right{
    float: right;
    padding-right: 10px;
    font-size: 15px;
}

.mainBar{
    position: relative; /*will adapt to size of window page*/
    top: 10px;
    padding: 20px 0px 75px 0px; /*padding from top*/
    background-color: aliceblue;
}

.mainBar ul, li, a{
    display: inline;
    padding-left: 5px;
    text-decoration: none;
    color: dimgray;
}

.jumbotron{
    background-color: cornflowerblue;
    position: relative;
    top: 0px;
    padding: 50px 0px 50px 0px;
}
.jumbotron h2{
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px gray;
    font-size: 45px;
    margin-top: 20px;
}
.jumbotron h3{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin-top: -30px;
    text-shadow: 1px 1px gray;
}

.main{
    margin: 0px 25px 0px 25px;
}

img {
    border: 5px darkgoldenrod solid;
    display: block;
    margin: 0 auto;
    width: 35%;
    height: auto;
}

#title{
    text-emphasis-style: filled;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#description{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 100px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    min-width: 100%;
    text-align: center;
}